
body {
  margin: 0;
  background-color: gray;
}

h1 {
  font-size: 2.5em;
  line-height: 1.4em;
}
h2 {
  font-size: 1.5em;
  line-height: 1.4em;
}
h3 {
  font-size: 1em;
  line-height: 1.4em;
}
h4 {
  font-size: .75em;
  line-height: 1.4em;
}

.leaflet-container {
  height: 91vh;
  width: 100%;
  z-index: 1;

}

.infoPanel {
  position: absolute;
  right: 0;
  z-index: 99;
  background-color: goldenrod;
  border-radius: 1em 0 0 1em;
  padding: 0 0 0 .7em;
  margin-top: 1em;
}

/* top right bottom left */
/* top right-left bottom */
.countryList, .battleList {
  padding: 0 0 .7em .5em;

  max-height: 50vh;
  width: 20vw;
  overflow-y: auto;
  
}
.arrow {
  position: absolute;
  right: 0px;
  z-index: 100;
}
.header {
  /* position: fixed; */
  background-color: maroon;
  color: whitesmoke;
  z-index: 100;
  width: 100%;

  display: flex;
  
}
.content { 
}



/* battlelist page */
.battlePage {
  margin: 0 1em;
  display: flex;
  align-items: center;
  flex-flow: column;
}
.countrySect {
  margin: 0em 0em 2em;
}
.countryTitle{
  display: flex;
  align-content: center;
  align-items: center;
}
.countryTitle > *{
  /* margin: 0 .4em; */
}
.battleRow{
  margin: 0 1em;
  color: whitesmoke;

  display: flex;
}
.battleRow > * {
  margin: 0 1em;
}
.addLocBtn {
  width: 100%;
}
.coordSect {
  display: flex;
  align-items: center;
  align-content: center;
}
th {
  background-color: aliceblue;
}
td {
  padding: .2em;
  border: solid black;
  background-color: whitesmoke;
}
.green, .red {color: whitesmoke;}
.green{background-color: green;}
.red { background-color: maroon;}

.navCountry {
  position: fixed;
  right: 0em;
  overflow-y: auto;
  border-radius: 1em 0 0 1em;

  background-color: gainsboro;
  width: 15em;
  height: 40em;
}
.navCountry> * {
  padding: .8em 1.4em;
}
.navBtn {
  text-decoration: none;
}
.showHideNav {
  position: fixed;
  transform: translateY(-1.7em);
  right: 0;
}